body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", monospace;
    overflow: hidden;
     font-size: 6rem;   /* AUMENTÁ este valor */
    letter-spacing: 0.3rem;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.25),
                 0 0 25px rgba(255, 0, 0, 0.35);
    z-index: 5;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;   /* Ajustá el % para hacerla más chica o grande */
    height: 60%;  /* Igual que arriba */
    transform: translate(-50%, -50%);
    pointer-events: none;

    background-image: url("eventos.png");
    background-size: contain;   /* Esto mantiene la imagen completa */
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.15;
    mix-blend-mode: lighten;
}

    #final-message {
    position: absolute;
    bottom: 10%;
    font-size: 4rem;
    color: #ff4a4a;
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1.5s ease;
    pointer-events: none;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

